/**
 *  CSS for uNabto Demos
 */

.ui-content .ui-listview {
  margin-top: 0;
}

#container {
  text-align: center;
}

#light-div-off {
	position:absolute;
	top:85px;
	left:50%;
	margin-left:-35px;
	width:65px;
	height:110px;
	background:url(../img/light_rgb.png) -190px 0px no-repeat;
}

#light-rgb-r {
	width:65px;
	height:110px;
	display:none;
	background:url(../img/light_rgb.png) 0px -165px no-repeat;
}

#light-rgb-g {
	width:65px;
	height:110px;
	display:none;
	background:url(../img/light_rgb.png) 0px -165px no-repeat;
}

#light-rgb-b {
	width:65px;
	height:110px;
	display:none;
	background:url(../img/light_rgb.png) 0px -165px no-repeat;
}

#light-rgb-rg {
	width:65px;
	height:110px;
	display:none;
	background:url(../img/light_rgb.png) -337px -165px no-repeat;
}

#light-rgb-rb {
	width:65px;
	height:110px;
	display:none;
	background:url(../img/light_rgb.png) -337px -165px no-repeat;
}

#light-div-on {
	width:65px;
	height:110px;
	display:none;
	background:url(../img/light_rgb.png) -337px -165px no-repeat;
}
